<mat-form-field appearance="fill">
  <mat-label>Multi select</mat-label>
  <ngx-mat-multi-select [formControl]="multiSelectControl" [options]="options$ | async"></ngx-mat-multi-select>
</mat-form-field>

<button mat-button mat-raised-button color="primary" (click)="onAddOptionClick(true)">Add checked option</button>

<button mat-button mat-raised-button color="primary" (click)="onAddOptionClick(false)">Add unchecked option</button>

<button mat-button mat-raised-button color="primary" (click)="onForceSelectionClick()">Force selection (option 2)</button>

<button mat-button mat-raised-button color="primary" (click)="onClearOptionsClick()">Clear options</button>

<div><mat-checkbox color="primary" [formControl]="disableMultiSelectControl">Disable control</mat-checkbox></div>

<pre>{{ multiSelectControl.value | json }}</pre>